.header
  width: 100%
  padding: 20px 40px
  background-color: #fff
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)

  .container
    display: flex
    align-items: center
    justify-content: space-between
