@use '../../styles/variables'

.header
  position: relative
  width: 100%
  padding: 20px 40px
  background-color: #fff
  z-index: 999999

  .container
    display: flex
    align-items: center
    justify-content: space-between

.header-navbar
  background-color: rgba(0, 0, 0, 0.1)
  border-top: 1px solid rgba(0, 0, 0, 0.05)

  .container
    display: flex
