@use '../../styles/variables'

.navbar
  display: flex
  align-items: center
  justify-content: flex-end

  ul
    display: flex
    align-items: center
    justify-content: flex-end

    li
      display: flex
      align-items: center
      justify-content: center
      padding: 0 20px
      font-size: 14px

      &:first-child
        padding-left: 0

      a
        color: white

        &:hover
          color: white
