@use './styles/variables'

*
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: none
  font-family: variables.$default-font

  &::selection
    background-color: variables.$primary-color
    color: white

body, main
  min-height: 80vh

.container
  max-width: 1000px
  margin: 0 auto
  padding: 0 20px

a
  text-decoration: none
  color: variables.$link-color
  transition-duration: .3s
  font-size: 14px

p
  color: variables.$text-color

h1, h2, h3, h4, h5, h6
  color: variables.$title-color

.btn
  display: flex
  align-items: center
  justify-content: center
  padding: 15px 20px
  font-size: 14px
  border-radius: 5px
  transition-duration: 0.3s
  background-color: variables.$primary-color
  color: white
  text-align: center
  border: none
  cursor: pointer

  &:hover
    transform: scale(1.1)

  svg
    margin-left: 5px

.product-list
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 10px
  margin-top: 40px
